<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LV1_normal_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{107,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{469,1},{107,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV1_normal_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{107,123}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{118,132},{107,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV2_normal_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{115,123}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{1,132},{115,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV2_normal_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{115,119}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{227,132},{115,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV3_normal_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV3_normal_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{118,1},{115,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV4_normal_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{235,1},{115,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV4_normal_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{352,1},{115,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV5_normal_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{103,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{344,132},{103,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LV5_normal_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{103,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{582,118},{103,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LV6_normal_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{578,1},{115,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LV6_normal_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{115,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{475,128},{115,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rolenormal.png</string>
            <key>size</key>
            <string>{688,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7906ddf53a20b6ff9fe16d5786f0434f:dcdb70e5d399228e2da4f40a3d9688ae:fa25b6c6e27afbce7ad8692e04b6ccb1$</string>
            <key>textureFileName</key>
            <string>rolenormal.png</string>
        </dict>
    </dict>
</plist>
